*{
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    color: #333;
}
header{
    height: 70px;
}
header h1 {
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
    color: black;
}
header h1 a{
    transition: .3s;
}
header h1 a:hover{
    color: rgb(252, 252, 54);
}
header ul{
    float: right;
}
header ul li{
    padding: 24px;
    display: inline-block;
}
header ul li a{
    transition: .3s;
}
header ul li a:hover{
    color: rgb(252, 252, 54);
}
a {
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 18px;
}
.mobile-menu:hover {
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(16, 47, 80, .9);
    transition: .3s;
    z-index: 9999;
}
.sidebar ul li a{
    color: #fff;
}
.sidebar ul li{
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}
.sidebar ul li:hover{
    background-color: red;
}
#check:checked ~ .sidebar {
    left: 0;
}
.banner {
    background-size: cover;
    background-image: url('lampu.jpg');
    padding: 150px 0;
}
section {
    padding: 50px 0;
}
.banner img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span{
    color: white;
}
.banner h2 {
    margin-bottom: 10px;
}
.banner p {
    font-size: 18px;
}
.banner-left {
    padding-left: 24px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: calc(50% - 60px);
}
#about p{
    text-align: center;
    text-indent: 30px;
    line-height: 25px;
}

#hobbies, 
#contact{
    background-color: rgb(231, 224, 224);
}

section h4 {
    text-align: center;
}

.icon {
    text-align: center;
}
.col-4 img{
    width: 30%;
}

.col-3{
   width: 33.33%;
   box-sizing: border-box;
   float: left;
   text-align: center;
   padding: 50px 10px; 
}

.col-3 h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
}

footer small {
    color: #ddd;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4 img{
        width: 50%;
    }
    .col-3{
        width: 60%;
        margin-left: 85px;
        text-align: center;
    }
}